* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.register button {
  background-color: #1d4ed8;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.nav-links ul li {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
}
.nav-links ul li a {
  text-decoration: none;
  color: #575757;
}

/* banner styles */

.banner-root {
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("./assets/banner.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-content {
  width: 100%;
  height: 600px;
  text-align: center;
}

.banner-heading {
  font-size: 60px;
  color: #fff;
  padding-top: 100px;
}

.banner-content p {
  font-size: 20px;
  color: #fff;
  padding: 20px 280px;
  margin-bottom: 250px;
}
